services:

  postgres:
    image: postgres:14.2
    restart: unless-stopped
    environment:
      POSTGRES_DB: "studs"
      POSTGRES_USER: "s408737"
      POSTGRES_PASSWORD: "password"
    ports:
      - "5432:5432"
    networks:
      - app-network
    volumes:
      - database_data:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    restart: unless-stopped
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"   # S3 API
      - "9001:9001"   # Web UI
    volumes:
      - minio_data:/data
    networks:
      - app-network

volumes:
  database_data:
    driver: local
  minio_data:
    driver: local

networks:
  app-network:
    driver: bridge