services:

  postgres:
    image: postgres:14.2
    restart: unless-stopped
    environment:
      POSTGRES_DB: "is1"
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "password"
    ports:
      - "5432:5432"
    networks:
      - app-network
    volumes:
      - database_data:/var/lib/postgresql/data

volumes:
  database_data:
    driver: local

networks:
  app-network:
    driver: bridge